*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.searchbar input{
    width: 50%;
    height: 25px;
    padding: 10px;
}

.searchbar {
 display: flex;
 justify-content: center;
 margin-top: 10px;
}